@charset 'UTF-8';
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");

/*** RESET CSS ***/

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

article,
aside,
details,
dialog,
div,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

input[type="submit"] {
  all: unset;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*** FIN RESET CSS ***/

:root {
  --violet: #9356dc;
  --rose: #ff79da;
  --vert: #99e2d0;
  --light-gris: #f7f7f7;
  --dark-gris: #353535;

  --title-font: "Shrikhand";
  --text-font: "Roboto";
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  font-family: var(--text-font);
}

.app {
  max-width: 768px;
  background-color: #fff;
  font: var(--text-font);
}

.center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
