---
/*
import './index.scss'
*/
---

<footer class="app-pied">
 <h3 class="styled-title">ohmyfood</h3>
 <nav>
  <ul>
   <li >
    <a class="link" href="#">
     <i class="fa-solid fa-utensils"></i>
     Proposer un restaurant
    </a>
   </li>
   <li>
    <a class="link" href="#">
     <i class="fa-solid fa-handshake-angle"></i>
     Devenir partenaire
    </a>
   </li>
   <li>
    <a class="link" href="#">Mentions légales</a>
   </li>
   <li>
    <a class="link" href="mailto:ohmyfood@example.com">Contact</a>
   </li>
  </ul>
 </nav>
</footer>
