.app-infos {
  padding: 2rem 0;
  text-align: center;
}

/** emplacement (gps) **/

.app-infos-emplacement {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: clamp(50px, 13vw, 75px);

  padding: 0;
  margin: 0;

  background-color: rgb(234, 234, 234);
}

.emplacement-icon {
  display: inline-flex;
  padding: 1rem;
  width: 50px;
  height: 50px;
  color: rgb(53, 53, 53);
}

.emplacement-font-title {
  font-family: var(--text-font);
}

/** description **/

.app-infos-description {
  display: flex;
  justify-content: space-around;
  flex-direction: column;

  height: 300px;
  padding: 2.5rem;

  background-color: var(--light-gris);
  font-size: 1.25rem;
}

.description-title {
  font-family: var(--text-font);
  font-weight: 900;
}

.description-content {
  padding-top: 1rem;
  color: rgb(77, 77, 77);
}
