---
import PinkButton from '@components/Shared/PinkButton/index.astro'
---

<section class="app-infos">

 <header class="app-infos-emplacement">
  <span class="emplacement-icon">
   <i class="fa-solid fa-location-dot"></i>
  </span>
  <h4 class="emplacement-font-title">
   Paris, Belleville
  </h4>
 </header>
 

 <article class="app-infos-description">
  <h2 class="description-title">Réservez le menu qui vous convient</h2>
  <p class="description-content">
   Découvez des restaurants d'exception, sélectionnés par nos soins.
  </p>
  <PinkButton url={"#resto"}>Explorer nos restaurants</PinkButton>
 </article>
</section>