.app-card-resto {
  width: 100%;
  height: auto;

  border: solid 1px #000;
  border-radius: 1.25rem;

  aspect-ratio: 69 / 52;
}

.app-card-image {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  width: 100%;
  height: clamp(100px, 80%, 40vh);

  padding: 1.5rem;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;

  aspect-ratio: 69 / 35;
}

.card-image-a-la-francaise {
  @include bg-image(a-la-francaise);
}

.card-image-la-note-enchantee {
  @include bg-image(la-note-enchantee);
}

.card-image-le-delice-des-sens {
  @include bg-image(le-delice-des-sens);
}

.card-image-la-palette-du-gout {
  @include bg-image(la-palette-du-gout);
}

.nouveau {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  background-color: rgb(153, 226, 208);
  color: rgb(0, 135, 102);
  text-align: center;
  aspect-ratio: 16 / 6;
  font-size: clamp(16px, 3.125vw, 1.5rem);
  border-radius: 5%;
}

.app-card-footer {
  display: grid;
  grid-template-columns: 3fr 1fr;

  min-height: 100px;
  height: 100%;
  max-height: 150px;

  padding: 1rem;
  border-bottom-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
  background-color: #fff;
  color: #000;
  /*
  aspect-ratio: ;*/
}

.app-card-description {
  font-size: 1.5rem;
}

.app-card-nom-plat {
  font-weight: 700;
  line-height: 2rem;
}

.app-card-nom-lieu {
  font-weight: 400;
  margin-top: 1rem;
}

.app-card-coeur {
  display: flex;
  align-items: center;
  justify-content: center;
}
