@keyframes remplir {
  0% {
    --bg: linear-gradient(
      transparent,
      transparent,
      transparent,
      transparent,
      transparent,
      transparent,
      transparent,
      transparent,
      transparent,
      transparent
    );
  }
  5% {
    --bg: linear-gradient(
      transparent,
      transparent,
      transparent,
      transparent,
      transparent,
      transparent,
      transparent,
      transparent,
      transparent,
      var(--violet)
    );
  }
  10% {
    --bg: linear-gradient(
      transparent,
      transparent,
      transparent,
      transparent,
      transparent,
      transparent,
      transparent,
      transparent,
      var(--violet),
      var(--rose)
    );
  }
  15% {
    --bg: linear-gradient(
      transparent,
      transparent,
      transparent,
      transparent,
      transparent,
      transparent,
      transparent,
      var(--violet),
      var(--violet),
      var(--rose)
    );
  }
  20% {
    --bg: linear-gradient(
      transparent,
      transparent,
      transparent,
      transparent,
      transparent,
      transparent,
      var(--violet),
      var(--violet),
      var(--rose),
      var(--rose)
    );
  }
  25% {
    --bg: linear-gradient(
      transparent,
      transparent,
      transparent,
      transparent,
      transparent,
      var(--violet),
      var(--violet),
      var(--violet),
      var(--rose),
      var(--rose)
    );
  }
  30% {
    --bg: linear-gradient(
      transparent,
      transparent,
      transparent,
      transparent,
      var(--violet),
      var(--violet),
      var(--violet),
      var(--rose),
      var(--rose),
      var(--rose)
    );
  }
  35% {
    --bg: linear-gradient(
      transparent,
      transparent,
      transparent,
      var(--violet),
      var(--violet),
      var(--violet),
      var(--violet),
      var(--rose),
      var(--rose),
      var(--rose)
    );
  }
  40% {
    --bg: linear-gradient(
      transparent,
      transparent,
      var(--violet),
      var(--violet),
      var(--violet),
      var(--violet),
      var(--rose),
      var(--rose),
      var(--rose),
      var(--rose)
    );
  }
  45% {
    --bg: linear-gradient(
      transparent,
      var(--violet),
      var(--violet),
      var(--violet),
      var(--violet),
      var(--violet),
      var(--rose),
      var(--rose),
      var(--rose),
      var(--rose)
    );
  }
  50% {
    --bg: linear-gradient(
      var(--violet),
      var(--violet),
      var(--violet),
      var(--violet),
      var(--violet),
      var(--rose),
      var(--rose),
      var(--rose),
      var(--rose),
      var(--rose)
    );
  }
  60% {
    --bg: linear-gradient(
      var(--violet),
      var(--violet),
      var(--violet),
      var(--violet),
      var(--rose),
      var(--rose),
      var(--rose),
      var(--rose),
      var(--rose),
      var(--rose)
    );
  }
  70% {
    --bg: linear-gradient(
      var(--violet),
      var(--violet),
      var(--violet),
      var(--rose),
      var(--rose),
      var(--rose),
      var(--rose),
      var(--rose),
      var(--rose),
      var(--rose)
    );
  }
  80% {
    --bg: linear-gradient(
      var(--violet),
      var(--violet),
      var(--rose),
      var(--rose),
      var(--rose),
      var(--rose),
      var(--rose),
      var(--rose),
      var(--rose),
      var(--rose)
    );
  }
  90% {
    --bg: linear-gradient(
      var(--violet),
      var(--rose),
      var(--rose),
      var(--rose),
      var(--rose),
      var(--rose),
      var(--rose),
      var(--rose),
      var(--rose),
      var(--rose)
    );
  }
  100% {
    --bg: linear-gradient(
      var(--rose),
      var(--rose),
      var(--rose),
      var(--rose),
      var(--rose),
      var(--rose),
      var(--rose),
      var(--rose),
      var(--rose),
      var(--rose)
    );
  }
}

/** todo **/
.coeur-label {
  @include centrer();
  font-size: 2.5rem;
  cursor: pointer;
  /*
  background-color: blue;
  */
}

.coeur-checkbox {
  display: none;
}

.coeur-container {
  @include centrer();
  @include couche-container();

  --bg: linear-gradient(
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent
  );
  /*
  background-color: red;*/
  width: 100%;
  height: 100%;
  font-size: 3rem;
}

.coeur-back {
  @include couche-back();
  @include centrer();
}

.coeur-front {
  @include couche-front();
  @include centrer();
}

.coeur-icon {
  color: transparent;

  margin: 0.3rem;
  color: var(--rose);
  background-color: transparent;
  background: var(--bg, transparent);

  transition-duration: 1s;
  transition-property: all;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;

  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;

  -webkit-text-stroke: 2px #fff;
}

.coeur-label:hover .coeur-icon,
.coeur-checkbox:checked ~ .coeur-container .coeur-icon {
  animation-name: remplir;
}

/**
TODO : mettre .coeur-back en arrière plan 
le recouvrir par coeur-icon 
**/
