---
import './index.scss'
---

<footer class="app-pied">
 <h4>ohmyfood</h4>
 <nav>
  <ul>
   <li>
    <a href="#">Proposer un restaurant</a>
   </li>
   <li>
    <a href="#">Devenir partenaire</a>
   </li>
   <li>
    <a href="#">Mentions légales</a>
   </li>
   <li>
    <a href="mailto:ohmyfood@example.com">Contact</a>
   </li>
  </ul>
 </nav>
</footer>
