---
/*
import "./index.scss";
*/
const { isMenu } = Astro.props || false;
const prefix = isMenu ? '../../' : './'

---

<header class="app-header">
 { isMenu ? (<div class="btn-return">
  <a href="../../index.html">
   <i class="fa-solid fa-arrow-left"></i>
  </a>
  </div>) : null }
 <div class="center">
  <h1 class="big-title">
   <a href={`${prefix}index.html`}>
    <img class="logo" src={`${prefix}assets/images/logo/ohmyfood.svg`} alt="ohmyfood" />
   </a>
  </h1>
 </div>
</header>