---
import './index.scss';
import PinkButton from '@components/PinkButton/index.astro'
---

<section class="app-infos">

 <div class="app-infos-emplacement">
  <span class="emplacement-icon">
   <img class="emplacement-icon-gps" src="/assets/images/svg/location.svg" alt="gps" />
  </span>
  <h4 class="emplacement-font-title">
   Paris, Belleville
  </h4>
 </div>
 

 <article class="app-infos-description">
  <h2 class="description-title">Réservez le menu qui vous convient</h2>
  <p class="description-content">
   Découvez des restaurants d'exception, sélectionnés par nos soins.
  </p>
  <PinkButton url={"#resto"}>Explorer nos restaurants</PinkButton>
 </article>
</section>