---
const { slug } = Astro.props
---

<label class="coeur-label" for={`coeur-${slug}`}>
 <input class="coeur-checkbox" type="checkbox" name={`coeur-${slug}`} id={`coeur-${slug}`} />
 <div class="coeur-container">
  <div class="coeur-back">
   <span class="fa-regular fa-heart"></span>
  </div>
  <div class="coeur-front">
   <span class="coeur-icon coeur-plein fa-solid fa-heart"></span>
  </div>
 </div>
</label>
