---
const { slug } = Astro.props
---

<label class="coeur-label center" for={`coeur-${slug}`}>
 <input class="coeur-checkbox" type="checkbox" name={`coeur-${slug}`} id={`coeur-${slug}`} />
 <div class="coeur-container center">
  <i class="coeur-back fa-regular fa-heart"></i>
  <i class="coeur-icon coeur-plein fa-solid fa-heart"></i>
 </div>
</label>
