---
const { slug } = Astro.props
---


 <input class="coeur-checkbox" type="checkbox" name={`coeur-${slug}`} id={`coeur-${slug}`} />
 <div class="coeur-container">

  <label class="coeur-label" for={`coeur-${slug}`}>

   <span class="coeur-back">
    <i class="fa-regular fa-heart"></i>
   </span>
  
   <span class="coeur-front">
    <i class="coeur-icon coeur-plein fa-solid fa-heart"></i>
   </span>

 </label>

 </div>
