---
import AppFonctionnementItem from '@components/App/AppFonctionnementItem/index.astro';

const mobile = "fa fa-mobile"
const liste = "fa-solid fa-list"
const store = "fa-sharp fa-solid fa-store"
---

<section class="app-fonctionnement">
  <h2 class="fonctionnement-title">Fonctionnement</h2>
  <div>
    <ol class="fonctionnement-list">
      <AppFonctionnementItem icon={mobile}>Choisissez un restaurant</AppFonctionnementItem>
      <AppFonctionnementItem icon={liste}>Composez votre menu</AppFonctionnementItem>
      <AppFonctionnementItem icon={store}>Dégustez au restaurant</AppFonctionnementItem>
    </ol>
  </div>
</section>