---
const mobile = "fa fa-mobile"
const liste = "fa-solid fa-list"
const store = "fa-sharp fa-solid fa-store"
const items = [
  { icon: mobile, text: "Choisissez un restaurant" },
  { icon: liste, text: "Composez votre menu" },
  { icon: store, text: "Dégustez au restaurant" }
]
---

<section class="app-fonctionnement">
  <h2 class="fonctionnement-title">Fonctionnement</h2>
  <div>
    <ol class="fonctionnement-list">
      {
        items.map(({icon, text}) => {
          return (
            <li class="fonctionnement-item">
              <i class={`fonctionnement-icon ${icon}`} aria-hidden="true"></i>
              <span class="fontionnement-item-content">{text}</span>
            </li>
          )
        })
      }
    </ol>
  </div>
</section>