---
import './index.scss'
---

<section class="app-fonctionnement">
 <h2 class="fonctionnement-title">Fonctionnement</h2>
 <div>
  <ol class="fonctionnement-list">
   <li class="fonctionnement-item">
    <i class="fa fa-mobile" aria-hidden="true"></i>
    <span>Choisissez un restaurant</span>
   </li>
   <li class="fonctionnement-item">
    <i class="fa-solid fa-list"></i>
    <span>Composez votre menu</span>
   </li>
   <li class="fonctionnement-item">
    <i class="fa-sharp fa-solid fa-store"></i>
    <span>Dégustez au restaurant</span>
   </li>
 </ol>
 </div>
</section>