---
import Layout from '@layouts/Layout.astro';
import Navbar from '@components/astro/navbar/Index.astro'
import { getCollection, getEntry, render } from "astro:content";
import type { CollectionEntry } from 'astro:content';

//export const prerender = true;

interface Props {
  astuces: CollectionEntry<'astuces'>;
}

export async function getStaticPaths() {
  const astuces = (await getCollection("astuces"))
  .map((astuce) => ({
    params: { id: astuce.id },
    props: astuce,
  }));
  console.log("COLL : ", astuces)
  return astuces
}

const { id } = Astro.params;
if (!id) {
  return Astro.redirect("/404");
}
const astuce = await getEntry("astuces", id);
if (!astuce) {
  return Astro.redirect("/404");
}
const { Content } = await render(astuce);

---

<Layout title="page astuces">
	<Navbar />
  <br/><br/>
	<main>
    <div>
      <h2>astuces</h2>
      <hr/>

      <ul>
        <li>css</li>
        <li>git</li>
        <li>html</li>
      </ul>
    </div>
    <div>
      <Content/>
    </div>
  </main>
</Layout>
