---
import { getCollection } from "astro:content";
import Layout from '@layouts/Layout.astro';

const astuces = (await getCollection("astuces"))?.sort(
  (blogEntryA: { data: { publishDate: any; }; }, blogEntryB: { data: { publishDate: any; }; }) =>
    (blogEntryB.data.publishDate || new Date()).getTime() -
    (blogEntryA.data.publishDate || new Date()).getTime()
);
---

<Layout title="Astuces">
  <main>
    <a href="/">Back</a>
    <h1>Astuces</h1>
    <article>
      <ul>
      {
        astuces?.map((astuce: any) => (
          <li>
            <a href={`/astuces/${astuce.id}`}>
              {astuce?.data?.title}
            </a>
          </li>
        ))
      }  
      </ul>
      
    </article>
  </main>
</Layout>