.menu-card {
  height: 140px;

  margin-top: 1rem;
  padding: 0;

  border-radius: 1.5rem;
  box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.5);

  background-color: var(--vert);
  @include couche-container();

  --price-size: 40px;
  --radius: 1.5rem;
  --square-size: 140px;
}

.menu-card-front,
.menu-card-back {
  border-radius: var(--radius);
}

.menu-card-back {
  width: 100%;
  height: 100%;
  max-height: var(--square-size);
  background-color: var(--vert);
  @include couche-back();
  display: flex;
  flex-direction: row-reverse;

  overflow: hidden;
}

.menu-card-back-box {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: var(--square-size);
  transition-property: all;
  transition-duration: 0.5s;
  animation-duration: 0.5s;
  padding-right: 0;

  position: relative;
  right: -50px;
}

.menu-hidden-checkbox {
  display: none;
}

.cercle {
  transition-property: transform;
  transition-timing-function: ease-in-out;
  animation-delay: 0.1s;
  animation-duration: 1s;
  transition-duration: 1s;

  background-color: #fff;
  border-radius: 50%;
}

.icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 40px;

  padding: 0.5rem;

  color: var(--vert);

  aspect-ratio: 1 / 1;
}

@keyframes barel-roll {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.menu-card:hover .menu-card-back-box,
.menu-hidden-checkbox:checked ~ .menu-card-back .menu-card-back-box {
  padding-right: 100px;
}

.menu-card:hover .cercle,
.menu-hidden-checkbox:checked ~ .menu-card-back .cercle {
  animation-name: barel-roll;
}

.menu-card-front {
  display: grid;

  grid-template-columns: 1fr 40px;
  border-radius: var(--radius);
  background-color: #fff;

  width: 100%;
  height: 100%;
  max-height: var(--square-size);
  @include couche-front();
}

.menu-card-content {
  height: 100%;

  padding-left: 1rem;
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);

  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.menu-card-content,
.menu-card-content-txt {
  @include trois-point();
  background-color: transparent;
}

.menu-card-content-txt {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.prix {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;

  width: var(--price-size);
  min-width: var(--price-size);
  max-width: var(--price-size);

  background-color: transparent;

  padding-bottom: 1rem;
}

.menu-label {
  display: inline-flex;
  @include couche-item();
  width: 100%;
  height: 100%;
  transition-duration: 1s;
  background-color: transparent;
  z-index: 40;
}

.menu-card:hover .menu-card-front,
.menu-hidden-checkbox:checked ~ .menu-card-front {
  width: calc(100% - var(--square-size));

  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  animation-duration: 0.5s;

  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
