---
import MenuCard from '@components/Menus/MenuCard/index.astro'

const { type, liste } = Astro.props
---

<section class={`menu-section`} >
 <h3 class="menu-type">{ type }</h3>

 <ul class="menu-list">
  { 
   liste.map(
    ({ nom, infos, prix }: any) => 
    (<li class="menu-list-item">
     <MenuCard nom={nom} infos={infos} prix={prix} />
    </li>)
   )
  }
 </ul>
 
</section>
