---
import MenuCard from '@components/Menus/MenuCard/index.astro'

const { type, liste } = Astro.props
---

<section class={`menu-${type}`} >
 <h3>{ type }</h3>
 { 
  liste.map(
   ({ nom, infos, prix }: any) => 
   (<MenuCard nom={nom} infos={infos} prix={prix} />)
  )
 }
</section>
