---
import MainHead from '@components/mainHead/index.astro';
import Footer from '@components/footer/index';
import Nav from '@components/nav/index';
---

<html lang="fr">
	<head>
		<MainHead title="Non Trouvée" />
	</head>
	<body>
		<Nav/>
		<div class="wrapper mt4 mb4">
			<h1>Page non trouvée</h1>
			<p>404</p>
		</div>
		<Footer />
	</body>
</html>
