---
import Layout from '@layouts/Layout.astro';
import Navbar from '@components/astro/navbar/Index.astro'

---

<Layout title="page astuces">
	<Navbar />
  <br/><br/>
	<main>
    <div>
      <h2>astuces</h2>
      <hr/>

      <ul>
        <li>css</li>
        <li>git</li>
        <li>html</li>
      </ul>
    </div>
  </main>
</Layout>
