---
import Page from '@components/Shared/Page/index.astro';
import LoadingSpinner from '@components/App/LoadingSpinner/index.astro';
import CommonNavBar from '@components/Shared/CommonNavBar/index.astro';
import AppInfos from '@components/App/AppInfos/index.astro';
import AppFonctionnement from '@components/App/AppFonctionnement/index.astro'
import AppResto from '@components/App/AppResto/index.astro'
import CommonPied from '@components/Shared/CommonPied/index.astro';
---

<Page title="Oh my food!">

		<LoadingSpinner/>

		<CommonNavBar isMenu={false} />

		<AppInfos/>

		<main>

			<AppFonctionnement/>

			<AppResto />

		</main>

		<CommonPied/>

</Page>
