---
---

<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="./assets/images/logo/ohmyfood@2x.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com"/>
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
		<link href="https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap" rel="stylesheet"/>
		<title>Oh my Food</title>
		<link rel="stylesheet" href="./assets/css/style.css"/>
	</head>
	<body>
		<h1>Oh my Food</h1>
		<div>
			???
		</div>
	</body>
</html>
