---
import Page from '@layouts/Page.astro';
import NavBar from '@components/NavBar/index.astro';
import AppInfos from '@components/AppInfos/index.astro';
import AppFonctionnement from '@components/AppFonctionnement/index.astro'
import AppResto from '@components/AppResto/index.astro'
import AppPied from '@components/AppPied/index.astro';
---

<Page title="Oh my food!">

		<NavBar isMenu={false} ></NavBar>

		<AppInfos/>

		<main>

			<AppFonctionnement/>

			<AppResto />

		</main>

		<AppPied/>

</Page>
