---
import Page from '@layouts/Page.astro';
import Card from '@components/Card.astro';
import Pied from '@components/Pied.astro';
import jsondata from '../data/resto.json';
const menus = jsondata.restos
---

<Page title="Oh my food!">
	<div class="app">

		<header class="app-header">
			<h1>ohmyfood</h1>
		</header>

		<section class="app-infos">
			<h4>Paris, Belleville</h4>
			<article>
				<h2>Réservez le menu qui vous convient</h2>
				<p>
					Découvez des restaurants d'exception, sélectionnés par nos soins.
				</p>
				<a class="btn btn-rounded btn-pink" href="#resto">Explorer nos restaurants</a>
			</article>
		</section>

		<main>

			<section>
				<h2>Fonctionnement</h2>
				<ol>
					<li>Choisissez un restaurant</li>
					<li>Composez votre menu</li>
					<li>Dégustez au restaurant</li>
				</ol>
			</section>

			<section id="resto">
				<h2>Restaurant</h2>

				<nav>

					{
						menus.map(menu => {
							return (<Card title={menu.title} place={menu.place} image={menu.image} nouveau={false}></Card>)
						})
					}
					
				</nav>
			</section>

		</main>

		<Pied></Pied>

	</div>
</Page>
