---
import Page from '@layouts/Page.astro';
export async function getStaticPaths() {
  const menus = [
    {
      slug: "la-palette-du-gout",
      title: "La palette du goût",
      text: "Ménilmontant",
      image: "assiette1"
    },
    {
      slug: "la-note-enchantee",
      title: "La note enchantée",
      text: "Charonne",
      image: "assiette2"
    },
    {
      slug: "a-la-francaise",
      title: "A la française",
      text: "Cité Rouge",
      image: "assiette3"
    },
    {
      slug: "la-delice-des-sens",
      title: "Le délice des sens",
      text: "Folie-Méricourt",
      image: "assiette4"
    },
  ];
  return menus.map(({ slug, title, text, image }) => {
    return {
      params: { slug },
      props: { title, text, image, slug },
    };
  });
}

const { title, text, image, slug } = Astro.props;
---

<Page title="menus">
  <main>
    <header class="menu-image"></header>
    <article class="menu-carte">
      <h2>{title}</h2>

      <section class="menu-entree">
        <h3>ENTREES</h3>
      </section>

      <section class="menu-plats">
        <h3>PLATS</h3>
      </section>

      <section class="menu-desserts">
        <h3>DESSERTS</h3>
      </section>

      <footer class="menu-commander">
        <a class="btn btn-rouded btn-pink" href="#">Commancer</a>
      </footer>
    </article>
  </main>
  <!-- pied de page -->
</Page>