@import "./item.scss";

.app-fonctionnement {
  display: flex;

  flex-direction: column;
  background-color: #fff;

  padding: 3rem;
}

.fonctionnement-title {
  font-family: var(--text-font);
  padding: 1rem;
}

.fonctionnement-list {
  counter-reset: my-awesome-counter;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
