---
import "./index.scss";
const { isMenu } = Astro.props || false;
---

<header class="app-header">
 { isMenu ? (<div class="btn-return">
  <a href="../index.html">
   <i class="fa-solid fa-arrow-left"></i>
  </a>
  </div>) : null }
 <div class="center">
  <h1>ohmyfood</h1>
 </div>
</header>