---
import "./index.scss";
const { isMenu } = Astro.props || false;
---

<header class="app-header">
 { isMenu ? (<div class="btn-return">
  <a href="../index.html">
   <i class="fa-solid fa-arrow-left"></i>
  </a>
  </div>) : null }
 <div class="center">
  <h1 class="big-title">
   <picture>
    <source media="(min-width:769px)" srcset="/assets/images/logo/ohmyfood@2x.svg" />
    <img class="logo" src="/assets/images/logo/ohmyfood.png" alt="ohmyfood" />
   </picture>
  </h1>
 </div>
</header>