.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 1.25rem;
  height: 4rem; /* 64 px */
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.btn-return {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50px;
  height: 50px;

  color: #000;
  aspect-ratio: 1 / 1;

  font-size: 2rem;
}
