---
const { title, place, image, nouveau } = Astro.props;
---

<div class="card-resto">
 <header class={ "card-image " + image }>
  { nouveau && (<div>nouveau</div>) }
 </header>
 <footer class="card-footer">

  <article class="card-description">
   <h3>{title}</h3>
   <p>
    { place }
   </p>
  </article>

  <aside class="card-coeur"></aside>

 </footer>
</div>