---
---

<div class="card-resto">
 <header class="card-image"></header>
 <footer class="card-footer">

  <article class="card-description">
   <h3>La palette du goût</h3>
   <p>
    Ménilmontant
   </p>
  </article>

  <aside class="card-coeur"></aside>

 </footer>
</div>