---
/*
import './index.scss'
*/
import AppCardResto from '@components/App/AppCardResto/index.astro';
import jsondata from '../../../data/resto.json';
const menus = jsondata.restos
---

<section id="resto" class="app-resto">
 <h2 class="app-resto-title">Restaurant</h2>

 <form action="#" class="app-resto-form">
  <nav class="app-card-container">
   {
    menus.map(menu => {
     return (<AppCardResto 
      slug={menu.slug} 
      title={menu.title} 
      place={menu.place} 
      nouveau={menu.nouveau} 
     />)
    })
   }
  </nav>
 </form>
 
</section>