@charset 'UTF-8';

@import "./1_base/index";
@import "./2_utils/index";
@import "./3_layout/index";
@import "./4_composants/index";
@import "./5_pages/index";
@import "./6_themes/index";
@import "./7_vendors/index";

@media screen and (min-width: 769px) {
  /** page principale **/
  .fonctionnement-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .app-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .menu-list {
    padding: 0 clamp(1rem, 5vw, 120px);
  }
}
