---
import "./style.css";
import { ClientRouter } from 'astro:transitions';
---
<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="mon site gitpage">
		<title>Astro</title>
		<ClientRouter />
	</head>
	<body>
		<slot />
	</body>
</html>

