---
import "./style.css";
import MetaList from "@components/astro/metalist/Index.astro"
interface Props {
  title?: string;
  description?: string;
}
const {
	title = "Pas de titre", 
  description = "description manquante"
} = Astro.props
---
<!doctype html>
<html lang="fr">
	<MetaList title={title} description={description} >
	</MetaList>
	<body>
		<slot />
	</body>
</html>

