@import "./reset.scss";

:root {
  --violet: #9356dc;
  --rose: #ff79da;
  --vert: #99e2d0;

  --title-font: "Shrikhand";
  --text-font: "Roboto";
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  font-family: var(--text-font);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--title-font);
}

.app {
  max-width: 768px;
  background-color: #fff;
}
