---
import Coeur from '@components/Shared/Coeur/index.astro';

const {nom, slug} = Astro.props
---

<header class="menu-nom">

 <h2 class="nom-resto">{ nom }</h2>
 
 <Coeur slug={`resto-${slug}`} />

</header>